{%extends 'basetemplate.html'%}

{%block search_bar%}
<div class="search">
    <input type="search" class="search-bar" placeholder="Search for {{page_title}}">
</div>
{%endblock%}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page_title}}</title>

    <style>
        .members_container{
            margin-left: auto;
            width: 82%;
            margin-top: -500px;
            height: 88vh;    
            display: block;
        }
       
        
    </style>

</head>
<body>
        <div class="members_container">
            <div class="report">
                <div class="details">
                    <h1>Code from here</h1>
                </div>
            </div>
         
</body>
</html>

{%endblock%}